nav {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  background-color: black;
  color: var(--text-primary);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
